/*General purpose*/

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    font-size: 80px;
    margin-bottom: 70px;
    margin-top: 0;
    color: #333;
    text-align: center;
}

/**/

/* Cells */

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid #555;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); 
    line-height: 75px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#gameContainer {
    text-align: center;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

/**/

/* Buttons */

button {
    font-size: 25px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s; 
}

#buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the buttons horizontally */
    width: 100%;
    gap: 1em;
}

#selectionContainer {
    display: grid;
    row-gap: 11em;
    column-gap: 13em;

    button {
        font-size: 32px;
        width: 140px;
        height: 75px;
    }

    #playerX {
        transform: translateX(7em);
        grid-area: 1 / 1 / span 1 / span 1;
    }

    #playerO {
        transform: translateY(3em);
        grid-column: 3;
        grid-row: 1;
    }

    #solo {
        grid-column: 1;
        grid-row: 2;
    }

    #bot {
        transform: translateY(5em) translateX(-2em);
        grid-column: 3;
        grid-row: 2;
    }

    #infinite {
        transform: translateX(4em);
        grid-column: 1;
        grid-row: 3;
    }

    #play {
        grid-column: 2;
        grid-row: 2;
        font-size: 50px;
        width: 200px;
        height: 100px;
    }
}

/**/

/* Transitions */

.cell:hover {
    background-color: #e0e0e0;
}

.cell.X {
    color: #FF6666;
    transform: scale(1.1); 
}

.cell.O {
    color: #ADD8E6; 
    transform: scale(1.1); 
}

@keyframes scale-up {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.2);
    }
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px); /* Move button down on click */
}

.button-pressed {
    background-color: #2e7d32;
    box-shadow: 0 2px #666;
    transform: translateY(4px); 
}