/*General purpose*/

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    font-size: 80px;
    margin-bottom: 70px;
    margin-top: 0;
    color: #333;
    text-align: center;
}

/**/

/* Cells */

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid #555;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); 
    line-height: 75px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cell:hover {
    background-color: #e0e0e0;
}


.cell.x {
    color: #ff0000; /* Red for X */
    transform: scale(1.2); /* Scale up animation */
}

.cell.o {
    color: #0000ff; /* Blue for O */
    transform: scale(1.2); /* Scale up animation */
}

#gameContainer {
    text-align: center;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

/**/


/* Buttons */

button {
    font-size: 25px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#buttonWrapper2 {
    display: grid;
    gap: 1em;
}

#selectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 

    h2 {
        font-size: 80px;
        padding-top: 0%;
        margin-top: 0%;
    }

    #buttonWrapper {
        padding-top: 30px;
        align-items: center;
        display: flex;
        gap: 100px; /* Space between the buttons */
        & #playerX, #playerO {
            width: 120px;
            height: 100px;
            font-size: 50px;
        }
    }
}

/**/